In [1]:
import pandas as pd
import numpy as np
import re

In [4]:
#!pip install bs4
from bs4 import BeautifulSoup

In [8]:
#!pip install nltk
#nltk.download()

NameError: name 'nltk' is not defined

In [5]:
import nltk
from nltk.corpus import stopwords
#nltk.download('stopwords')
stopwords = stopwords.words('english')

In [6]:
def clean_txt(raw_txt):
    # Function to clean raw text
    # 1. Remove HTML
    strange_word=["amp"]
    raw_txt = re.sub(r'http\S+', '', raw_txt)
    #raw_txt = re.sub(r'#[A-z]*', '', raw_txt)
    raw_txt = re.sub(r'@[A-z]*', '', raw_txt)
    # 
    # 2. Remove non-letters        
    letters_only = re.sub("[^a-zA-Z]", " ", raw_txt)
    # 4. Convert to lower case, split into individual words
    words = letters_only.lower().split()                             
    stops = set(stopwords)                  
    # 5. Remove stop words
    meaningful_words = [w for w in words if not w in stopwords]  
    meaningful_words2 = [p for p in meaningful_words if not p in strange_word] 
    #
    # 6. Join the words back into one string separated by space, 
    # and return the result.
    return( " ".join( meaningful_words2))

In [6]:
trump_tweets=pd.read_csv("C://Users//Admin//Yidu AI//Trump Phone.csv", sep=",",encoding='ANSI')

In [7]:
trump_tweets.head()

,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str
0,Twitter for Android,LinkedIn Workforce Report: January and Februar...,03-08-2017 12:11:25,15769.0,84906.0,False,8.394485e+17
1,Twitter for iPhone,On International Women's Day join me in honori...,03-08-2017 11:13:44,21689.0,115070.0,False,8.394340e+17
2,Twitter for iPhone,I have tremendous respect for women and the ma...,03-08-2017 11:12:39,23139.0,120999.0,False,8.394337e+17
3,Twitter for iPhone,I feel sure that my friend @RandPaul will come...,03-08-2017 00:14:30,15496.0,81422.0,False,8.392680e+17
4,Twitter for Android,Don't let the FAKE NEWS tell you that there is...,03-07-2017 14:14:03,25982.0,121937.0,False,8.391169e+17

In [8]:
trump_tweets = trump_tweets[(trump_tweets['is_retweet'] ==False)]

In [9]:
titles=['source','text','date','retweet count','favorite count','RT','ID']
trump_tweets.columns=titles

In [10]:
trump_tweets['date']=pd.to_datetime(trump_tweets['date'])

In [11]:
print(trump_tweets)

                   source                                               text  \
0     Twitter for Android  LinkedIn Workforce Report: January and Februar...
1      Twitter for iPhone  On International Women's Day join me in honori...
2      Twitter for iPhone  I have tremendous respect for women and the ma...
3      Twitter for iPhone  I feel sure that my friend @RandPaul will come...
4     Twitter for Android  Don't let the FAKE NEWS tell you that there is...
5     Twitter for Android  I am working on a new system where there will ...
6     Twitter for Android  Don't worry getting rid of state lines which w...
7     Twitter for Android  For eight years Russia "ran over" President Ob...
8     Twitter for Android  Our wonderful new Healthcare Bill is now out f...
9     Twitter for Android  122 vicious prisoners released by the Obama Ad...
10     Twitter for iPhone  Thank you to @exxonmobil for your $20 billion ...
11     Twitter for iPhone  Buy American &amp; hire American are the princ...
12     Twitter for iPhone  There is an incredible spirit of optimism swee...
13     Twitter for iPhone  45000 construction &amp; manufacturing jobs in...
14     Twitter for iPhone  Buy American &amp; hire American are the princ...
15     Twitter for iPhone  'President Trump Congratulates Exxon Mobil for...
16     Twitter for iPhone  Thank you for the great rallies all across the...
17    Twitter for Android  Who was it that secretly said to Russian Presi...
18    Twitter for Android  Is it true the DNC would not allow the FBI acc...
19    Twitter for Android  Arnold Schwarzenegger isn't voluntarily leavin...
20    Twitter for Android  How low has President Obama gone to tapp my ph...
21    Twitter for Android  I'd bet a good lawyer could make a great case ...
22    Twitter for Android  Is it legal for a sitting President to be "wir...
23    Twitter for Android  Just out: The same Russian Ambassador that met...
24    Twitter for Android  Terrible! Just found out that Obama had my "wi...
25    Twitter for Android  The first meeting Jeff Sessions had with the R...
26     Twitter for iPhone  MAKE AMERICA GREAT AGAIN! https://t.co/kuQiZDz4rA
27     Twitter for iPhone  I hereby demand a second investigation after S...
28     Twitter for iPhone  I hearby demand a second investigation after S...
29     Twitter for iPhone  We must fix our education system for our kids ...
...                   ...                                                ...
4411  Twitter for Android  Just arrived in Mississippi for the rally. Wor...
4412   Twitter for iPhone  Heading to Biloxi Mississippi. Massive crowds ...
4413  Twitter for Android  Remember I am self-funding my campaign the onl...
4414  Twitter for Android  When I look at all of the money the special in...
4415  Twitter for Android  I hope Bill Clinton starts talking about women...
4416  Twitter for Android  Hillary Clinton doesn't have the strength or s...
4417  Twitter for Android  Hillary Clinton said that it is O.K. to ban Mu...
4418  Twitter for Android  .@JebBush is a low energy "stiff" who should f...
4419  Twitter for Android  .@JebBush is a sad case. A total embarrassment...
4420   Twitter for iPhone  Massive crowds expected in Mississippi tomorro...
4421   Twitter for iPhone  #VoteTrump2016 &amp; together we will #MakeAme...
4422  Twitter for Android  Thank you so much to https://t.co/8OMryrUVET f...
4423  Twitter for Android  The person that Hillary Clinton least wants to...
4424  Twitter for Android  @codyraymille: I have never been interested in...
4425  Twitter for Android  I will be going to Mississippi tomorrow night ...
4426  Twitter for Android  @CASuperrunner: @georgehenryw Huckabee is a go...
4427  Twitter for Android  @MEMEoryHead: I'm one of your biggest fans Mr ...
4428  Twitter for Android  @JodiL792: We are Standing with you! Spreading...
4429  Twitter for Android  @marie7777777777: @realDonaldTrump we love u t...
4430  Twitter for Android  Well the year has officially begun. I have man...
4431  Twitter for Android  @sprinklermanus: @CNN @realDonaldTrump they're...
4432  Twitter for Android  @jallenaip: Hillary said she was in a Fog of W...
4433   Twitter for iPhone  Happy New Year from #MarALago! Thank you to my...
4434   Twitter for iPhone      #HappyNewYearAmerica! https://t.co/EeQb8PDrUe
4435   Twitter for iPhone  HAPPY NEW YEAR &amp; THANK YOU! https://t.co/Y...
4436  Twitter for Android  I will be on @FoxNews live  with members of my...
4437  Twitter for Android  I would like to wish everyone A HAPPY AND HEAL...
4438  Twitter for Android  Do you believe that The State Department on NE...
4439   Twitter for iPhone  THANK YOU ILLINOIS! Let's not forget to get fa...
4440   Twitter for iPhone  HAPPY BIRTHDAY to my son @DonaldJTrumpJr! Very...

                    date  retweet count  favorite count     RT            ID
0    2017-03-08 12:11:25        15769.0         84906.0  False  8.394485e+17
1    2017-03-08 11:13:44        21689.0        115070.0  False  8.394340e+17
2    2017-03-08 11:12:39        23139.0        120999.0  False  8.394337e+17
3    2017-03-08 00:14:30        15496.0         81422.0  False  8.392680e+17
4    2017-03-07 14:14:03        25982.0        121937.0  False  8.391169e+17
5    2017-03-07 13:46:28        23777.0        124413.0  False  8.391100e+17
6    2017-03-07 13:41:58        16405.0         82197.0  False  8.391089e+17
7    2017-03-07 13:13:20        17573.0         78880.0  False  8.391017e+17
8    2017-03-07 12:13:59        15068.0         81473.0  False  8.390867e+17
9    2017-03-07 12:04:13        22911.0         92823.0  False  8.390843e+17
10   2017-03-07 03:50:49        19379.0         99441.0  False  8.389601e+17
11   2017-03-07 03:49:54        16192.0         87209.0  False  8.389599e+17
12   2017-03-06 23:49:53        25176.0        108591.0  False  8.388995e+17
13   2017-03-06 21:22:15        24663.0        116785.0  False  8.388623e+17
14   2017-03-06 21:21:32        13723.0         65634.0  False  8.388621e+17
15   2017-03-06 21:19:04        12846.0         70675.0  False  8.388615e+17
16   2017-03-05 17:30:11        30764.0        172217.0  False  8.384415e+17
17   2017-03-05 11:40:20        37134.0        126453.0  False  8.383535e+17
18   2017-03-05 11:32:22        24515.0         96318.0  False  8.383515e+17
19   2017-03-04 13:19:29        23117.0        106606.0  False  8.380160e+17
20   2017-03-04 12:02:48        52836.0        162336.0  False  8.379967e+17
21   2017-03-04 11:52:54        37162.0        131657.0  False  8.379943e+17
22   2017-03-04 11:49:00        36359.0        123508.0  False  8.379933e+17
23   2017-03-04 11:42:59        37452.0        121080.0  False  8.379918e+17
24   2017-03-04 11:35:20        50573.0        143525.0  False  8.379898e+17
25   2017-03-04 11:26:47        24412.0         88057.0  False  8.379877e+17
26   2017-03-03 22:13:10        36635.0        122851.0  False  8.377880e+17
27   2017-03-03 21:02:23        39957.0        121937.0  False  8.377701e+17
28   2017-03-03 20:49:53           11.0             4.0  False  8.377670e+17
29   2017-03-03 20:48:21        16510.0         83126.0  False  8.377666e+17
...                  ...            ...             ...    ...           ...
4411 2016-01-03 00:24:45         1763.0          6955.0  False  6.834438e+17
4412 2016-01-02 22:42:16         1609.0          5756.0  False  6.834181e+17
4413 2016-01-02 21:07:34         6065.0         15803.0  False  6.833942e+17
4414 2016-01-02 21:01:10         3745.0          9075.0  False  6.833926e+17
4415 2016-01-02 20:04:58         3609.0          8017.0  False  6.833785e+17
4416 2016-01-02 20:00:17         2238.0          6568.0  False  6.833773e+17
4417 2016-01-02 13:23:00         7832.0         14673.0  False  6.832773e+17
4418 2016-01-02 12:17:12         1749.0          5458.0  False  6.832608e+17
4419 2016-01-02 12:10:21         2124.0          5802.0  False  6.832590e+17
4420 2016-01-02 04:17:23         2145.0          6363.0  False  6.831400e+17
4421 2016-01-02 03:32:13         3057.0          7340.0  False  6.831286e+17
4422 2016-01-02 03:26:54         1910.0          6334.0  False  6.831273e+17
4423 2016-01-01 23:40:51         3759.0         10339.0  False  6.830704e+17
4424 2016-01-01 23:25:54          986.0          4401.0  False  6.830667e+17
4425 2016-01-01 23:24:13         1688.0          5481.0  False  6.830662e+17
4426 2016-01-01 23:10:25          922.0          3346.0  False  6.830628e+17
4427 2016-01-01 23:08:18          881.0          3492.0  False  6.830622e+17
4428 2016-01-01 23:06:09          893.0          3066.0  False  6.830617e+17
4429 2016-01-01 23:02:05          654.0          2780.0  False  6.830607e+17
4430 2016-01-01 23:00:09         2642.0          8495.0  False  6.830602e+17
4431 2016-01-01 21:29:56          933.0          3330.0  False  6.830375e+17
4432 2016-01-01 06:08:06         2721.0          7490.0  False  6.828055e+17
4433 2016-01-01 06:07:28         1948.0          8258.0  False  6.828053e+17
4434 2016-01-01 05:18:23         3434.0          9143.0  False  6.827930e+17
4435 2016-01-01 03:25:27         3460.0          8581.0  False  6.827645e+17
4436 2016-01-01 00:44:14         2108.0          6735.0  False  6.827240e+17
4437 2015-12-31 23:21:49         6776.0         16495.0  False  6.827032e+17
4438 2015-12-31 23:11:35         2755.0          6824.0  False  6.827007e+17
4439 2015-12-31 18:51:12         2468.0          6047.0  False  6.826351e+17
4440 2015-12-31 16:52:38         2080.0          8416.0  False  6.826053e+17

[4335 rows x 7 columns]

In [12]:
trump_tweets['text'] = trump_tweets.text.apply(clean_txt)
trump_tweets['Date'] = trump_tweets['date'].apply(lambda x:x.date().strftime('%m/%d/%Y'))

In [13]:
trump_tweets.head()

,source,text,date,retweet count,favorite count,RT,ID,Date
0,Twitter for Android,linkedin workforce report january february str...,2017-03-08 12:11:25,15769.0,84906.0,False,8.394485e+17,03/08/2017
1,Twitter for iPhone,international women day join honoring critical...,2017-03-08 11:13:44,21689.0,115070.0,False,8.394340e+17,03/08/2017
2,Twitter for iPhone,tremendous respect women many roles serve vita...,2017-03-08 11:12:39,23139.0,120999.0,False,8.394337e+17,03/08/2017
3,Twitter for iPhone,feel sure friend come along new great health c...,2017-03-08 00:14:30,15496.0,81422.0,False,8.392680e+17,03/08/2017
4,Twitter for Android,let fake news tell big infighting trump admin ...,2017-03-07 14:14:03,25982.0,121937.0,False,8.391169e+17,03/07/2017

In [17]:
def labeller(x):
    if x=='Twitter for Android':
        return 1
    else: 
        return 0

In [18]:
trump_tweets['label']=trump_tweets.source.apply(labeller)

In [19]:
trump_tweets.head()

,source,text,date,retweet count,favorite count,RT,ID,Date,label
0,Twitter for Android,linkedin workforce report january february str...,2017-03-08 12:11:25,15769.0,84906.0,False,8.394485e+17,03/08/2017,1
1,Twitter for iPhone,international women day join honoring critical...,2017-03-08 11:13:44,21689.0,115070.0,False,8.394340e+17,03/08/2017,0
2,Twitter for iPhone,tremendous respect women many roles serve vita...,2017-03-08 11:12:39,23139.0,120999.0,False,8.394337e+17,03/08/2017,0
3,Twitter for iPhone,feel sure friend come along new great health c...,2017-03-08 00:14:30,15496.0,81422.0,False,8.392680e+17,03/08/2017,0
4,Twitter for Android,let fake news tell big infighting trump admin ...,2017-03-07 14:14:03,25982.0,121937.0,False,8.391169e+17,03/07/2017,1

In [28]:
trump_tweets.groupby('label').count()

       source  text  date  retweet count  favorite count    RT    ID  Date
label
0        2325  2325  2325           2325            2325  2325  2325  2325
1        2010  2010  2010           2010            2010  2010  2010  2010

In [29]:
trump_tweets.isna().sum()

source            0
text              0
date              0
retweet count     0
favorite count    0
RT                0
ID                0
Date              0
label             0
dtype: int64

In [30]:
df_tweets=trump_tweets.loc[:,('text','Date','label')]

In [17]:
#df_tweets.to_csv('Trump Retweet Favorite.csv', sep=',', encoding='utf-8')

In [14]:
df_tweets=df_tweets[df_tweets['Date']>'01/17/2017']

In [31]:
df_tweets.tail()

                                                   text        Date  label
4436  live members family p ring new year together m...  01/01/2016      1
4437  would like wish everyone happy healthy new yea...  12/31/2015      1
4438  believe state department new year eve released...  12/31/2015      1
4439  thank illinois let forget get family friends vote  12/31/2015      0
4440                       happy birthday son proud tbt  12/31/2015      0

In [32]:
df_tweets.to_csv('Trump label project.csv', sep=',', encoding='utf-8')

In [17]:
approv_rate.tail()
print(approv_rate.dtypes)

date                object
approval_date      float64
increase_amount    float64
label                int64
dtype: object

In [18]:
approv_rate['date']=pd.to_datetime(approv_rate['date'])

In [19]:
print(approv_rate.dtypes)

date               datetime64[ns]
approval_date             float64
increase_amount           float64
label                       int64
dtype: object

In [20]:
approv_rate['Date'] = approv_rate['date'].apply(lambda x:x.date().strftime('%m/%d/%Y'))
approv_rate['Date'] = pd.to_datetime(approv_rate['Date'])

In [21]:
approv_rate.head()

        date  approval_date  increase_amount  label       Date
0 2018-11-16       42.45884          0.03883      1 2018-11-16
1 2018-11-15       42.42001          0.40960      2 2018-11-15
2 2018-11-14       42.01041          0.25185      2 2018-11-14
3 2018-11-13       41.75856         -0.04454     -1 2018-11-13
4 2018-11-12       41.80310         -0.36034     -2 2018-11-12

In [22]:
import datetime

In [23]:
#in this section, I think that what Trump said will only affect his approval rate in 1 one week's time. 
#this is why I subtracted one week from the day which the approval rate is taken

from datetime import timedelta
approv_rate['Date']= approv_rate['Date'] - datetime.timedelta(days=3)

In [24]:
print(approv_rate)

          date  approval_date  increase_amount  label       Date
0   2018-11-16       42.45884          0.03883      1 2018-11-13
1   2018-11-15       42.42001          0.40960      2 2018-11-12
2   2018-11-14       42.01041          0.25185      2 2018-11-11
3   2018-11-13       41.75856         -0.04454     -1 2018-11-10
4   2018-11-12       41.80310         -0.36034     -2 2018-11-09
5   2018-11-11       42.16344          0.00000      0 2018-11-08
6   2018-11-10       42.16344          0.00000      0 2018-11-07
7   2018-11-09       42.16344          0.11510      1 2018-11-06
8   2018-11-08       42.04834          0.08094      1 2018-11-05
9   2018-11-07       41.96740          0.15111      1 2018-11-04
10  2018-11-06       41.81629         -0.04924     -1 2018-11-03
11  2018-11-05       41.86553         -0.36136     -2 2018-11-02
12  2018-11-04       42.22689          0.11793      1 2018-11-01
13  2018-11-02       42.10896          0.11086      1 2018-10-30
14  2018-11-01       41.99810         -0.00698     -1 2018-10-29
15  2018-10-31       42.00508         -0.22252     -2 2018-10-28
16  2018-10-30       42.22760         -0.14620     -1 2018-10-27
17  2018-10-29       42.37380         -0.06701     -1 2018-10-26
18  2018-10-28       42.44081         -0.00545     -1 2018-10-25
19  2018-10-27       42.44626          0.04997      1 2018-10-24
20  2018-10-26       42.39629         -0.36897     -2 2018-10-23
21  2018-10-25       42.76526         -0.03739     -1 2018-10-22
22  2018-10-24       42.80265         -0.27175     -2 2018-10-21
23  2018-10-23       43.07440         -0.03344     -1 2018-10-20
24  2018-10-22       43.10784          0.43494      2 2018-10-19
25  2018-10-21       42.67290          0.41193      2 2018-10-18
26  2018-10-20       42.26097          0.04890      1 2018-10-17
27  2018-10-19       42.21207         -0.38074     -2 2018-10-16
28  2018-10-18       42.59281         -0.02947     -1 2018-10-15
29  2018-10-17       42.62228          0.69048      2 2018-10-14
..         ...            ...              ...    ...        ...
632 2017-02-21       43.66503         -0.17124     -1 2017-02-18
633 2017-02-20       43.83627         -0.26920     -2 2017-02-17
634 2017-02-19       44.10547         -0.20606     -2 2017-02-16
635 2017-02-18       44.31153         -0.15263     -1 2017-02-15
636 2017-02-17       44.46416         -0.11277     -1 2017-02-14
637 2017-02-16       44.57693          0.08412      1 2017-02-13
638 2017-02-15       44.49281          0.02104      1 2017-02-12
639 2017-02-14       44.47177          1.00935      2 2017-02-11
640 2017-02-13       43.46242         -0.84323     -2 2017-02-10
641 2017-02-12       44.30565         -0.11783     -1 2017-02-09
642 2017-02-11       44.42348          0.14192      1 2017-02-08
643 2017-02-10       44.28156         -0.06426     -1 2017-02-07
644 2017-02-09       44.34582         -0.15909     -1 2017-02-06
645 2017-02-08       44.50491         -0.15504     -1 2017-02-05
646 2017-02-07       44.65995          0.23739      2 2017-02-04
647 2017-02-06       44.42256         -0.01486     -1 2017-02-03
648 2017-02-05       44.43742          0.19996      1 2017-02-02
649 2017-02-04       44.23746          0.02405      1 2017-02-01
650 2017-02-03       44.21341         -0.59783     -2 2017-01-31
651 2017-02-02       44.81124          0.01783      1 2017-01-30
652 2017-02-01       44.79341          0.45293      2 2017-01-29
653 2017-01-31       44.34048          0.24145      2 2017-01-28
654 2017-01-30       44.09903         -0.04686     -1 2017-01-27
655 2017-01-29       44.14589          0.27062      2 2017-01-26
656 2017-01-28       43.87527         -0.26059     -2 2017-01-25
657 2017-01-27       44.13586         -0.24012     -2 2017-01-24
658 2017-01-26       44.37598         -3.38899     -2 2017-01-23
659 2017-01-25       47.76497          2.32233      2 2017-01-22
660 2017-01-24       45.44264         -0.02429     -1 2017-01-21
661 2017-01-23       45.46693          0.00000      0 2017-01-20

[662 rows x 5 columns]

In [25]:
approv_rate['Date'] = approv_rate['Date'].apply(lambda x:x.date().strftime('%m/%d/%Y'))

In [26]:
#here, I used a JOIN to join trump_tweets and approv_rate based on the "Date" column
new_df=pd.merge(trump_tweets, approv_rate, on='Date')

In [27]:
print(new_df.head())

               source                                               text  \
0  Twitter for iPhone  numerous countries considered meeting would pe...
1  Twitter for iPhone  white house correspondents dinner dead know to...
2  Twitter for iPhone  headline kim prepared cede nuclear weapons u p...
3  Twitter for iPhone  white house correspondents dinner failure last...
4  Twitter for iPhone  trump triumphs driving critics crazy thank ste...

               date_x  retweet count  favorite count     RT            ID  \
0 2018-04-30 12:19:00        20356.0         93838.0  False  9.909290e+17
1 2018-04-30 12:10:00        23530.0        108339.0  False  9.909260e+17
2 2018-04-30 02:59:00        19825.0         92349.0  False  9.907880e+17
3 2018-04-30 02:38:00        22982.0        107294.0  False  9.907820e+17
4 2018-04-30 01:29:00        15024.0         74873.0  False  9.907650e+17

         Date     date_y  approval_date  increase_amount  label
0  04/30/2018 2018-05-03       41.31839          0.16667      1
1  04/30/2018 2018-05-03       41.31839          0.16667      1
2  04/30/2018 2018-05-03       41.31839          0.16667      1
3  04/30/2018 2018-05-03       41.31839          0.16667      1
4  04/30/2018 2018-05-03       41.31839          0.16667      1

In [28]:
df_ready=new_df.loc[:,('text','Date','approval_date','label')]

In [29]:
print(df_ready)

                                                   text        Date  \
0     numerous countries considered meeting would pe...  04/30/2018
1     white house correspondents dinner dead know to...  04/30/2018
2     headline kim prepared cede nuclear weapons u p...  04/30/2018
3     white house correspondents dinner failure last...  04/30/2018
4     trump triumphs driving critics crazy thank ste...  04/30/2018
5     got recent poll much higher president time wel...  04/29/2018
6     washington michigan big success washington c w...  04/29/2018
7     great evening last night washington michigan e...  04/29/2018
8                     join live washington michigan pme  04/28/2018
9     secret service informed senator jon tester sta...  04/28/2018
10    look forward great state michigan tonight majo...  04/28/2018
11    long good talk president moon south korea thin...  04/28/2018
12    clapper lied fraudulent dossier leaks cnn foxn...  04/28/2018
13    great people montana stand kind slander talkin...  04/28/2018
14    allegations made senator jon tester admiral do...  04/28/2018
15    house intelligence committee rules collusion t...  04/28/2018
16    house intelligence committee rules collusion t...  04/28/2018
17    urge americans participate tomorrow let come t...  04/27/2018
18    house intelligence committee report released e...  04/27/2018
19    look forward meeting chancellor angela merkel ...  04/27/2018
20    kanye west performed great service black commu...  04/27/2018
21    please forget great help good friend president...  04/27/2018
22    great staff sgt dan nevins incredible wounded ...  04/27/2018
23    korean war end united states great people prou...  04/27/2018
24    furious year missile launches nuclear testing ...  04/27/2018
25    everybody believing going james comey define l...  04/27/2018
26    u put together strong bid w canada mexico worl...  04/26/2018
27                             loved morning great show  04/26/2018
28                                    interviewed enjoy  04/26/2018
29                                                 maga  04/25/2018
...                                                 ...         ...
2806  even registered vote dead many long time depen...  01/25/2017
2807  asking major investigation voter fraud includi...  01/25/2017
2808  big day planned national security tomorrow amo...  01/25/2017
2809  chicago fix horrible carnage going shootings k...  01/25/2017
2810  congratulations number one inauguration rating...  01/25/2017
2811  great meeting ford ceo mark fields general mot...  01/25/2017
2812  signing orders move forward construction keyst...  01/24/2017
2813  great meeting automobile industry leaders morn...  01/24/2017
2814  photo delivered yesterday displayed upper lowe...  01/24/2017
2815  meeting top automobile executives concerning j...  01/24/2017
2816  busy week planned heavy focus jobs national se...  01/23/2017
2817  peaceful protests hallmark democracy even alwa...  01/22/2017
2818  wow television ratings million people watched ...  01/22/2017
2819  watched protests yesterday impression election...  01/22/2017
2820  great meeting cia headquarters yesterday packe...  01/22/2017
2821  fantastic day evening washington c thank many ...  01/21/2017
2822  thank another wonderful evening washington c t...  01/21/2017
2823                                          americans  01/20/2017
2824  americans every city near far small large moun...  01/20/2017
2825                                      time remember  01/20/2017
2826  follow two simple rules buy american hire amer...  01/20/2017
2827  bring back jobs bring back borders bring back ...  01/20/2017
2828  forgotten men women country forgotten longer m...  01/20/2017
2829  january th remembered day people became rulers...  01/20/2017
2830  truly matters party controls government whethe...  01/20/2017
2831     power washington c giving back american people  01/20/2017
2832  today merely transferring power one administra...  01/20/2017
2833  begins today see swearing movement continues w...  01/20/2017
2834               thank wonderful evening washington c  01/20/2017
2835  thank joining us lincoln memorial tonight spec...  01/20/2017

      approval_date  label
0          41.31839      1
1          41.31839      1
2          41.31839      1
3          41.31839      1
4          41.31839      1
5          41.15172     -1
6          41.15172     -1
7          41.15172     -1
8          41.21312      2
9          41.21312      2
10         41.21312      2
11         41.21312      2
12         41.21312      2
13         41.21312      2
14         41.21312      2
15         41.21312      2
16         41.21312      2
17         40.64146      2
18         40.64146      2
19         40.64146      2
20         40.64146      2
21         40.64146      2
22         40.64146      2
23         40.64146      2
24         40.64146      2
25         40.64146      2
26         40.37253      0
27         40.37253      0
28         40.37253      0
29         40.37253     -2
...             ...    ...
2806       43.87527     -2
2807       43.87527     -2
2808       43.87527     -2
2809       43.87527     -2
2810       43.87527     -2
2811       43.87527     -2
2812       44.13586     -2
2813       44.13586     -2
2814       44.13586     -2
2815       44.13586     -2
2816       44.37598     -2
2817       47.76497      2
2818       47.76497      2
2819       47.76497      2
2820       47.76497      2
2821       45.44264     -1
2822       45.44264     -1
2823       45.46693      0
2824       45.46693      0
2825       45.46693      0
2826       45.46693      0
2827       45.46693      0
2828       45.46693      0
2829       45.46693      0
2830       45.46693      0
2831       45.46693      0
2832       45.46693      0
2833       45.46693      0
2834       45.46693      0
2835       45.46693      0

[2836 rows x 4 columns]

In [31]:
df_ready.to_csv('Training Data 2017 2018.csv', sep=',', encoding='utf-8')

In [30]:
df_ready.shape

(2836, 4)

In [31]:
df_ready.drop_duplicates('text')

,text,Date,approval_date,label
0,numerous countries considered meeting would pe...,04/30/2018,41.31839,1
1,white house correspondents dinner dead know to...,04/30/2018,41.31839,1
2,headline kim prepared cede nuclear weapons u p...,04/30/2018,41.31839,1
3,white house correspondents dinner failure last...,04/30/2018,41.31839,1
4,trump triumphs driving critics crazy thank ste...,04/30/2018,41.31839,1
5,got recent poll much higher president time wel...,04/29/2018,41.15172,-1
6,washington michigan big success washington c w...,04/29/2018,41.15172,-1
7,great evening last night washington michigan e...,04/29/2018,41.15172,-1
8,join live washington michigan pme,04/28/2018,41.21312,2
9,secret service informed senator jon tester sta...,04/28/2018,41.21312,2
10,look forward great state michigan tonight majo...,04/28/2018,41.21312,2
11,long good talk president moon south korea thin...,04/28/2018,41.21312,2
12,clapper lied fraudulent dossier leaks cnn foxn...,04/28/2018,41.21312,2
13,great people montana stand kind slander talkin...,04/28/2018,41.21312,2
14,allegations made senator jon tester admiral do...,04/28/2018,41.21312,2
15,house intelligence committee rules collusion t...,04/28/2018,41.21312,2
16,house intelligence committee rules collusion t...,04/28/2018,41.21312,2
17,urge americans participate tomorrow let come t...,04/27/2018,40.64146,2
18,house intelligence committee report released e...,04/27/2018,40.64146,2
19,look forward meeting chancellor angela merkel ...,04/27/2018,40.64146,2
20,kanye west performed great service black commu...,04/27/2018,40.64146,2
21,please forget great help good friend president...,04/27/2018,40.64146,2
22,great staff sgt dan nevins incredible wounded ...,04/27/2018,40.64146,2
23,korean war end united states great people prou...,04/27/2018,40.64146,2
24,furious year missile launches nuclear testing ...,04/27/2018,40.64146,2
25,everybody believing going james comey define l...,04/27/2018,40.64146,2
26,u put together strong bid w canada mexico worl...,04/26/2018,40.37253,0
27,loved morning great show,04/26/2018,40.37253,0
28,interviewed enjoy,04/26/2018,40.37253,0
29,maga,04/25/2018,40.37253,-2
...,...,...,...,...
2806,even registered vote dead many long time depen...,01/25/2017,43.87527,-2
2807,asking major investigation voter fraud includi...,01/25/2017,43.87527,-2
2808,big day planned national security tomorrow amo...,01/25/2017,43.87527,-2
2809,chicago fix horrible carnage going shootings k...,01/25/2017,43.87527,-2
2810,congratulations number one inauguration rating...,01/25/2017,43.87527,-2
2811,great meeting ford ceo mark fields general mot...,01/25/2017,43.87527,-2
2812,signing orders move forward construction keyst...,01/24/2017,44.13586,-2
2813,great meeting automobile industry leaders morn...,01/24/2017,44.13586,-2
2814,photo delivered yesterday displayed upper lowe...,01/24/2017,44.13586,-2
2815,meeting top automobile executives concerning j...,01/24/2017,44.13586,-2
2816,busy week planned heavy focus jobs national se...,01/23/2017,44.37598,-2
2817,peaceful protests hallmark democracy even alwa...,01/22/2017,47.76497,2
2818,wow television ratings million people watched ...,01/22/2017,47.76497,2
2819,watched protests yesterday impression election...,01/22/2017,47.76497,2
2820,great meeting cia headquarters yesterday packe...,01/22/2017,47.76497,2
2821,fantastic day evening washington c thank many ...,01/21/2017,45.44264,-1
2822,thank another wonderful evening washington c t...,01/21/2017,45.44264,-1
2823,americans,01/20/2017,45.46693,0
2824,americans every city near far small large moun...,01/20/2017,45.46693,0
2825,time remember,01/20/2017,45.46693,0
2826,follow two simple rules buy american hire amer...,01/20/2017,45.46693,0
2827,bring back jobs bring back borders bring back ...,01/20/2017,45.46693,0
2828,forgotten men women country forgotten longer m...,01/20/2017,45.46693,0
2829,january th remembered day people became rulers...,01/20/2017,45.46693,0
2830,truly matters party controls government whethe...,01/20/2017,45.46693,0
2831,power washington c giving back american people,01/20/2017,45.46693,0
2832,today merely transferring power one administra...,01/20/2017,45.46693,0
2833,begins today see swearing movement continues w...,01/20/2017,45.46693,0
2834,thank wonderful evening washington c,01/20/2017,45.46693,0
2835,thank joining us lincoln memorial tonight spec...,01/20/2017,45.46693,0

In [32]:
df_ready.shape

(2836, 4)

In [34]:
df_ready.to_csv('C://Users//Admin//Yidu AI//Training Data 2017 2018(3).csv', sep=',', encoding='utf-8')

In [7]:
new_tweets=pd.read_csv("Trump new Tweets.csv", encoding='ANSI')

In [9]:
new_tweets = new_tweets[(new_tweets['is_retweet'] ==False)]

In [12]:
new_tweets.head()

,source,text,created_at,is_retweet,id_str
0,Twitter for iPhone,Just signed one of the most important and larg...,11-30-2018 14:45:18,False,1068516326010830849
1,Twitter for iPhone,#USMCA???????????? https://t.co/7CYsYBYbd1,11-30-2018 13:08:27,False,1068491952696557575
2,Twitter for iPhone,....Lightly looked at doing a building somewhe...,11-30-2018 09:59:03,False,1068444287380025344
3,Twitter for iPhone,Oh I get it! I am a very good developer happil...,11-30-2018 09:52:04,False,1068442531887632384
4,Twitter for iPhone,Arrived in Argentina with a very busy two days...,11-30-2018 03:31:14,False,1068346689784696833

In [13]:
titles=['source','text','date','retweet count','ID']
new_tweets.columns=titles

In [14]:
new_tweets['date']=pd.to_datetime(new_tweets['date'])
new_tweets['text'] = new_tweets.text.apply(clean_txt)
new_tweets['Date'] = new_tweets['date'].apply(lambda x:x.date().strftime('%m/%d/%Y'))

In [15]:
new_tweets.head()

,source,text,date,retweet count,ID,Date
0,Twitter for iPhone,signed one important largest trade deals u wor...,2018-11-30 14:45:18,False,1068516326010830849,11/30/2018
1,Twitter for iPhone,usmca,2018-11-30 13:08:27,False,1068491952696557575,11/30/2018
2,Twitter for iPhone,lightly looked building somewhere russia put z...,2018-11-30 09:59:03,False,1068444287380025344,11/30/2018
3,Twitter for iPhone,oh get good developer happily living life see ...,2018-11-30 09:52:04,False,1068442531887632384,11/30/2018
4,Twitter for iPhone,arrived argentina busy two days planned import...,2018-11-30 03:31:14,False,1068346689784696833,11/30/2018

In [19]:
predict_tweets=new_tweets.loc[:,('text','Date')]

In [20]:
predict_tweets.to_csv('C://Users//Admin//Yidu AI//Predict Data.csv', sep=',', encoding='utf-8')